aiodns==1.1.1
aiofiles==0.4.0
aiohttp==3.7.4
aplpy==1.1.1
astropy==3.0.3
beautifulsoup4==4.6.0
cchardet==2.1.1
flask==1.0.2
flask_jwt_extended==3.12.1
flask_login==0.4.1
flask_pymongo==2.1.0
gunicorn==19.9.0
html5lib==1.0.1
h5py==2.10.0
keras==2.2.4
matplotlib==2.2.2
numba==0.36.2
numpy==1.15.1
pandas==0.23.4
pillow==8.2.0
pymongo==3.10.1
tensorflow==1.12.0
tqdm==4.46.0
supervisor==4.0
penquins==2.1
