aplpy>=1.1.1
astropy>=3.0.3
flask>=1.0.2
flask_jwt_extended>=3.12.1
flask_login>=0.4.1
flask_pymongo>=2.1.0
gunicorn>=19.9.0
matplotlib>=2.2.2
pandas>=0.23.4
pillow>=5.2.0
pymongo>=3.6.1
socketIO_client>=0.7.2
-e git://github.com/Supervisor/supervisor.git#egg=supervisor
-e git://github.com/dmitryduev/broker.git#egg=penquins
