{% extends "template.html" %}

{% block css %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 300px; width: 100%') }}

    <style>
    .dropzone .dz-preview .dz-image {
        width: 80px;
        height: 80px;
    }
    </style>
{% endblock %}

{% block nav_home %}
    active
{% endblock %}

{% block body_top %}
    {# only display for non logged-in users #}
{#    {% if projects == None %}#}
    <div class="container-fluid m-0 p-0">
        <div class="jumbotron m-0 p-3 p-md-5 text-dark bg-light">
            <div class="col-md-auto align-self-center px-0">
                <div class="media">
                    <img class="align-self-start mr-5" style="width: 200px;"
                         src="{{-script_root-}}/static/img/ZTF_CompactGrayLB.png"
                         alt="Zwicky Transient Facility">
                    <div class="media-body">
                        <h2 class="mt-0">Zwickyverse</h2>
                        <p style="font-size: 1.2rem;">Simplifying data-set labeling for ZTF machine learning activities</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    {% endif %}#}
{% endblock %}

{% block body %}
    {# only display for logged-in users #}
    {% if projects != None %}
    <div class="container">
        <button type="button" class="btn btn-md btn-primary addButton"
                data-toggle="modal" data-target="#addProjectModal"
                data-user="{{-user-}}"><i class="fas fa-plus"></i> New project</button>
        {% for project in projects %}
            {% set project_id = project['_id'] | string %}
            <div class="row mt-2">
                <div class="col-md-12 mt-2">
                    <h3>
                        {{ project['name'] }}
                        {% if project['role'] == 'admin' %}
                            <button type="button" class="btn btn-sm btn-outline-primary"
                                    data-toggle="modal" data-target="#editProjectModal"
                                    data-user="{{-user-}}" data-projectid="{{-project_id-}}"
                                    data-name="{{-project['name']-}}" data-description="{{-project['description']-}}">
                                edit</button>
                            <button type="button" class="btn btn-sm btn-outline-danger removeProjectButton"
                                    data-projectid="{{-project_id-}}">
                                remove</button>
                        {% endif %}
                    </h3>
                    <p>
                        <b>id:&nbsp{{-project_id-}}</b><br>
                        {{ project['description'] }}<br>
                        <a href="/projects/{{-project_id-}}?download=meta">Project metadata <i class="fas fa-download"></i></a>
                    </p>

                    <div class="accordion mb-2" id="accordion_{{-project_id-}}">

                        <div class="card">
                            <div class="card-header p-0" id="accordion_{{-project_id-}}_headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#accordion_{{-project_id-}}_collapseOne" aria-expanded="false"
                                            aria-controls="accordion_{{-project_id-}}_collapseOne">
                                        Classes
                                    </button>
                                </h5>
                            </div>

                            <div id="accordion_{{-project_id-}}_collapseOne" class="collapse"
                                 aria-labelledby="accordion_{{-project_id-}}_headingOne"
                                 data-parent="#accordion_{{-project_id-}}">
                                <div class="card-body" style="max-height: 400px; overflow-x: hidden; overflow-y: scroll">
                                    {% for class in project['classes'] %}
                                        <span>{{ class }} <a href="#"><i class="fas fa-times"></i></a></span><br>
                                    {% endfor %}
                                    {% if project['classes'] | length > 0 %}
                                        <br>
                                    {% endif %}
                                    {% if project['role'] == 'admin' %}
                                    <a href="#" class="btn btn-sm btn-primary" data-projectid="{{-project_id-}}"
                                            data-toggle="modal" data-target="#addDataClassesModal"><i class="fas fa-plus"></i> Add data classes</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% if project['role'] == 'admin' %}
                            <div class="card">
                                <div class="card-header p-0" id="accordion_{{-project_id-}}_headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#accordion_{{-project_id-}}_collapseTwo" aria-expanded="false"
                                                aria-controls="accordion_{{-project_id-}}_collapseTwo">
                                            Users
                                        </button>
                                    </h5>
                                </div>
                                <div id="accordion_{{-project_id-}}_collapseTwo" class="collapse"
                                     aria-labelledby="accordion_{{-project_id-}}_headingTwo"
                                     data-parent="#accordion_{{-project_id-}}">
                                    <div class="card-body" style="max-height: 200px; overflow-x: hidden; overflow-y: scroll">
                                        {% for u in project['users'] %}
                                            <span>
                                                <b>{{ u }}</b>: {{ project['users'][u]['role'] }}
                                                {# TODO: #}
                                                {% if u != user %}
                                                    <a href="#"><i class="fas fa-pen"></i></a>
                                                    <a href="#" class="removeUserLink"
                                                       data-user="{{-u-}}"
                                                       data-projectid="{{-project_id-}}"><i class="fas fa-times"></i></a>
                                                {% endif %}
                                            </span><br>
                                        {% endfor %}
                                        {% if project['users'] | length > 0 %}
                                            <br>
                                        {% endif %}
                                        <a href="#" class="btn btn-sm btn-primary" data-projectid="{{-project_id-}}"
                                                data-toggle="modal" data-target="#addUserModal"><i class="fas fa-plus"></i> Add user</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="card">
                            <div class="card-header p-0" id="accordion_{{-project_id-}}_heading3">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#accordion_{{-project_id-}}_collapse3" aria-expanded="false"
                                            aria-controls="accordion_{{-project_id-}}_collapse3">
                                        Datasets
                                    </button>
                                </h5>
                            </div>

                            <div id="accordion_{{-project_id-}}_collapse3" class="collapse"
                                 aria-labelledby="accordion_{{-project_id-}}_heading3"
                                 data-parent="#accordion_{{-project_id-}}">
                                <div class="card-body">
                                    {% for dataset in project['datasets'] %}
                                        <div class="col-md-12">
                                            <h4>
                                                {{ project['datasets'][dataset]['name'] }}
                                                <a href="/projects/{{-project_id-}}/datasets/{{-dataset-}}/classify"
                                                   class="btn btn-sm btn-outline-dark">classify</a>
                                                {% if project['role'] == 'admin' %}
                                                    <a href="/projects/{{-project_id-}}/datasets/{{-dataset-}}/inspect"
                                                       class="btn btn-sm btn-outline-dark">inspect</a>
                                                    <button type="button" class="btn btn-sm btn-outline-primary"
                                                            data-toggle="modal" data-target="#editDatasetModal"
                                                            data-user="{{-user-}}">edit</button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-danger removeDatasetButton"
                                                            data-datasetid="{{-dataset-}}"
                                                            data-projectid="{{-project_id-}}">remove</button>
                                                {% endif %}
                                            </h4>
                                            <p>
                                                <b>id:&nbsp{{-dataset-}}</b><br>
                                                {% if project['datasets'][dataset]['description'] != None %}
                                                    {{ project['datasets'][dataset]['description'] }}
                                                {% endif %}
                                            </p>
                                            <p>
                                                Number of files: {{ project['datasets'][dataset]['num_files'] }}<br>
                                                <a href="/projects/{{-project_id-}}/datasets/{{-dataset-}}?download=dataset&format=zip">Dataset <i class="fas fa-download"></i></a><br>
                                                <a href="/projects/{{-project_id-}}/datasets/{{-dataset-}}?download=classifications&format=json">Classifications <i class="fas fa-download"></i></a>
                                            </p>
                                            {% if project['datasets'][dataset]['data'] | length > 0 %}
                                                <p>
                                                    <a class="btn btn-sm btn-outline-dark" data-toggle="collapse"
                                                       href="#{{-project_id-}}_{{-dataset-}}_files" role="button"
                                                       aria-expanded="false" aria-controls="{{-project_id-}}_{{-dataset-}}_files">
                                                        Files <i class="fas fa-caret-down"></i>
                                                    </a>
                                                </p>
                                                <div class="collapse" id="{{-project_id-}}_{{-dataset-}}_files">
                                                    <div class="card">
                                                        <div class="card-body p-1 pl-3" style="max-height: 200px; overflow-x: hidden;
                                                                                                    overflow-y: scroll">
                                                            {% for file in project['datasets'][dataset]['data'] %}
                                                                <span>{{ file }}{#<a href="#"><i class="fas fa-times"></i></a>#}</span><br>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    {% if project['role'] == 'admin' %}
                                    <button type="button" class="btn btn-sm btn-primary" data-projectid="{{-project_id-}}"
                                            data-toggle="modal" data-target="#addDatasetModal"><i class="fas fa-plus"></i> Add dataset</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

{#                #}
{#                <div class="col-md-12 mb-2">#}
{#                    <hr>#}
{#                </div>#}
            </div>
        {% endfor %}
    </div>
    {% endif %}


    <!-- Add Project Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addProjectModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addProject">
                        <div class="form-group">
                            <label for="form-name">Project name</label>
                            <input id="form-name" type="text" class="form-control"
                                   name="name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="form-description">Project description</label>
                            <input id="form-description" type="text" class="form-control"
                                   name="description" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="form-classes">Classes</label>
                            <input id="form-classes" type="text" class="form-control" placeholder="class1 class2 ..."
                                   name="classes" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addProjectButton">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal -->

    <!-- Edit Project Metadata Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="editProjectModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit project metadata</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editProject">
                        <div class="form-group">
                            <input id="form-projectid" type="hidden" class="form-control"
                               name="project_id" autocomplete="off">

                            <label for="form-name">Project name</label>
                            <input id="form-name" type="text" class="form-control"
                                   name="name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="form-description">Project description</label>
                            <input id="form-description" type="text" class="form-control"
                                   name="description" autocomplete="off">
                        </div>
{#                        <div class="form-group">#}
{#                            <label for="form-classes">Classes</label>#}
{#                            <input id="form-classes" type="text" class="form-control" placeholder="class1 class2 ..."#}
{#                                   name="classes" autocomplete="off">#}
{#                        </div>#}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="editProjectButton">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal -->

    <!-- Add Data Classes Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addDataClassesModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add data class(es) to project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addDataClasses">
                        <div class="form-group">
                            <input id="form-projectid" type="hidden" class="form-control"
                                   name="project_id" autocomplete="off">

                            <label for="form-classes">Classes</label>
                            <input id="form-classes" type="text" class="form-control" placeholder="class1 class2 ..."
                                   name="classes" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addDataClassButton">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal -->

    <!-- Add User Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addUserModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add user to project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addUser">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input id="form-projectid" type="hidden" class="form-control"
                                       name="project_id" autocomplete="off">

                                <label for="form-user">User</label>
                                <input id="form-user" type="text" class="form-control"
                                       name="add_user" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form-user-role">Role</label>
                                <select id="form-user-role" class="form-control" name="add_user_role">
                                    <option selected>user</option>
                                    <option>admin</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addUserButton">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal -->


    <!-- Add Dataset Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addDatasetModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add dataset</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addDataset">
                        <input id="form-projectid" type="hidden" class="form-control"
                                       name="project_id" autocomplete="off">

                        <div class="form-group">
                            <label for="form-name">Dataset name</label>
                            <input id="form-name" type="text" class="form-control"
                                   name="name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="form-name">Dataset description</label>
                            <input id="form-name" type="text" class="form-control"
                                   name="description" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="form-files">Files</label>
{#                            <input id="form-files" type="text" class="form-control"#}
{#                                   name="files" autocomplete="off">#}
                            {{ dropzone.create() }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addDatasetButton">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal -->


{% endblock %}

{% block js %}
{#    {{ dropzone.load_js() }}#}
{#    {{ dropzone.config() }}#}

    {# Dropzone #}
    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.2.0/dist/dropzone.min.js"></script>

    <script>
        // Create dataset and upload files
        var dataset_id = '';
        Dropzone.options.myDropzone = {
            init: function () {
                var myDropzone = this;

                // Update selector to match your button
                $("#addDatasetButton").click(function (e) {
                    e.preventDefault();

                    // PUT request to create dataset, then POST files:
                    var projectid = $('#addDataset').serializeJSON()['project_id'];
                    $.ajax({url: '{{-script_root-}}/projects/' + projectid + '/datasets',
                        method: 'PUT',
                        data: JSON.stringify($('#addDataset').serializeJSON()),
                        processData: false,
                        contentType: 'application/json',
                        success: function(data) {
                            if (data['status'] === 'success') {
                                dataset_id = data['dataset_id'];
                                let n_files = myDropzone.getAcceptedFiles().length;
                                if (n_files > 0) {
                                    myDropzone.processQueue();
                                }
                                else {
                                    location.reload(true);
                                }
                            }
                            else {
                                $('#addDatasetModal').modal('hide');
                                showFlashingMessage('Info:', data, 'danger');
                            }
                        },
                        error: function(data) {
                            $('#addDatasetModal').modal('hide');
                            showFlashingMessage('Info:', data, 'danger');
                        }
                    });

                });

                this.on('sending', function(file, xhr, formData) {
                    // Append dataset_id to the formData Dropzone will POST
                    {#alert(dataset_id);#}
                    formData.append('dataset_id', dataset_id);
                });

                // dynamically build url:
                this.on("processing", function(file) {
                    var project_id = $('#addDataset').serializeJSON()['project_id'];
                    this.options.url = "/projects/" + project_id + '/datasets/' + dataset_id;
                });

                // reload page on success
                this.on('successmultiple', function(files, xhr, formData) {
                    location.reload(true);
                })

            },

            url: "/projects/PROJECTID/datasets/DATASETID",
            autoProcessQueue: false,
            // addRemoveLinks: true,
            // click upload options
            uploadMultiple: true,
            parallelUploads: 5000,
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 3, // MB
            acceptedFiles: "image/*",
            maxFiles: 5000,
            dictDefaultMessage: `Drop files here or click to upload (up to 5,000 files).`, // message display on drop area
            dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.",
            dictInvalidFileType: "You can't upload files of this type.",
            dictFileTooBig: "File is too big {{filesize}}. Max filesize: {{maxFilesize}}MiB.",
            dictResponseError: "Server error: {{statusCode}}",
            dictMaxFilesExceeded: "Your can't upload any more files.",
            // timeout
            // custom options code
            createImageThumbnails: false,
            thumbnailWidth: 40,
            thumbnailHeight: 40
        };

        // remove dataset
        $('.removeDatasetButton').click(function (e) {
            // Extract info from data-* attributes
            var projectid = $(this).data('projectid');
            var datasetid = $(this).data('datasetid');
            bootbox.confirm("Are you sure?", function(result) {
                if (result) {
                    $.ajax({url: '{{-script_root-}}/projects/' + projectid + '/datasets/' + datasetid,
                        data: JSON.stringify({'project_id': projectid, 'dataset_id': datasetid}),
                        method: 'DELETE',
                        processData: false,
                        contentType: 'application/json',
                        success: function(data) {
                            if (data === 'success') {
                                location.reload(true);
                            }
                            else {
                                showFlashingMessage('Info:', data, 'danger');
                            }
                        },
                        error: function(data) {
                            showFlashingMessage('Info:', data, 'danger');
                        }
                    });
                }
            });
            return false;
        });
    </script>

    <script>
        // add project id to modals:
        // Build modal on-the-fly
        $('#addDataClassesModal, #addUserModal, #addDatasetModal').on('show.bs.modal', function (event) {
            var trigger = $(event.relatedTarget); // Who triggered the modal? [to extract info]
            // Extract info from data-* attributes
            var projectid = trigger.data('projectid');

            var modal = $(this);
            modal.find("#form-projectid").val(projectid);
        });

        $('#editProjectModal').on('show.bs.modal', function (event) {
            var trigger = $(event.relatedTarget); // Who triggered the modal? [to extract info]
            // Extract info from data-* attributes
            var projectid = trigger.data('projectid');
            var project_name = trigger.data('name');
            var project_description = trigger.data('description');

            var modal = $(this);
            modal.find("#form-projectid").val(projectid);
            modal.find("#form-name").val(project_name);
            modal.find("#form-description").val(project_description);
        });



        // add project
        $('#addProjectButton').click(function (e) {
            $.ajax({url: '{{-script_root-}}/projects',
                method: 'PUT',
                data: JSON.stringify($('#addProject').serializeJSON()),
                processData: false,
                contentType: 'application/json',
                success: function(data) {
                    if (data === 'success') {
                        location.reload(true);
                    }
                    else {
                        $('#addProjectModal').modal('hide');
                        showFlashingMessage('Info:', data, 'danger');
                    }
                },
                error: function(data) {
                    $('#addProjectModal').modal('hide');
                    showFlashingMessage('Info:', data, 'danger');
                }
            });
            return false;
        });

        // edit project
        $('#editProjectButton').click(function (e) {
            var projectid = $('#editProject').serializeJSON()['project_id'];
            $.ajax({url: '{{-script_root-}}/projects/' + projectid,
                method: 'POST',
                data: JSON.stringify($('#editProject').serializeJSON()),
                processData: false,
                contentType: 'application/json',
                success: function(data) {
                    if (data === 'success') {
                        location.reload(true);
                    }
                    else {
                        $('#editProjectModal').modal('hide');
                        showFlashingMessage('Info:', data, 'danger');
                    }
                },
                error: function(data) {
                    $('#editProjectModal').modal('hide');
                    showFlashingMessage('Info:', data, 'danger');
                }
            });
            return false;
        });

        // remove project
        $('.removeProjectButton').click(function (e) {
            // Extract info from data-* attributes
            var projectid = $(this).data('projectid');
            bootbox.confirm("Are you sure?", function(result) {
                if (result) {
                    $.ajax({url: '{{-script_root-}}/projects/' + projectid,
                        data: JSON.stringify({'project_id': projectid}),
                        method: 'DELETE',
                        processData: false,
                        contentType: 'application/json',
                        success: function(data) {
                            if (data === 'success') {
                                location.reload(true);
                            }
                            else {
                                showFlashingMessage('Info:', data, 'danger');
                            }
                        },
                        error: function(data) {
                            showFlashingMessage('Info:', data, 'danger');
                        }
                    });
                }
            });
            return false;
        });

        // add classes to project
        $('#addDataClassButton').click(function (e) {
            var projectid = $('#addDataClasses').serializeJSON()['project_id'];
            {#console.log(projectid);#}
            {#var data = Object.assign({}, {'project_id': projectid}, $('#addDataClasses').serializeJSON());#}
            $.ajax({url: '{{-script_root-}}/projects/' + projectid,
                method: 'POST',
                data: JSON.stringify($('#addDataClasses').serializeJSON()),
                processData: false,
                contentType: 'application/json',
                success: function(data) {
                    if (data === 'success') {
                        location.reload(true);
                    }
                    else {
                        $('#addDataClassesModal').modal('hide');
                        showFlashingMessage('Info:', data, 'danger');
                    }
                },
                error: function(data) {
                    $('#addDataClassesModal').modal('hide');
                    showFlashingMessage('Info:', data, 'danger');
                }
            });
            return false;
        });

        // add user to project
        $('#addUserButton').click(function (e) {
            var projectid = $('#addUser').serializeJSON()['project_id'];
            $.ajax({url: '{{-script_root-}}/projects/' + projectid,
                method: 'POST',
                data: JSON.stringify($('#addUser').serializeJSON()),
                processData: false,
                contentType: 'application/json',
                success: function(data) {
                    if (data === 'success') {
                        location.reload(true);
                    }
                    else {
                        $('#addUserModal').modal('hide');
                        showFlashingMessage('Info:', data, 'danger');
                    }
                },
                error: function(data) {
                    $('#addUserModal').modal('hide');
                    showFlashingMessage('Info:', data, 'danger');
                }
            });
            return false;
        });

        // remove user from project
        $('.removeUserLink').click(function (e) {
            var projectid = $(this).data('projectid');
            var user = $(this).data('user');
            bootbox.confirm("Are you sure?", function(result) {
                if (result) {
                    $.ajax({url: '{{-script_root-}}/projects/' + projectid,
                        method: 'POST',
                        data: JSON.stringify({'remove_user': user}),
                        processData: false,
                        contentType: 'application/json',
                        success: function(data) {
                            if (data === 'success') {
                                location.reload(true);
                            }
                            else {
                                $('#addUserModal').modal('hide');
                                showFlashingMessage('Info:', data, 'danger');
                            }
                        },
                        error: function(data) {
                            $('#addUserModal').modal('hide');
                            showFlashingMessage('Info:', data, 'danger');
                        }
                    });
                }
            });

            return false;
        });

    </script>
{% endblock %}